h1{
	background-color:darkred;
	color:white;
	padding:20px;
}
ul{
	list-style:none;
}
ul li{
	color: blue;
}
ul li#getting_tweets{
	color:#434343;
}
ul li span.handle{
	color:red;
}
output{
	color:red;
	font-size:16;
	font-family:courier;
}